<a href="https://colab.research.google.com/github/lgeralas/Hola-mundo/blob/main/Hola_mundo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Importamos librerias requeridas
#pip (para instalar alguna librería)
import pandas as pd #pd para abreviar
import numpy as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Cargar archivo csv desde seaborn
df=sns.load_dataset(name='car_crashes')

In [5]:
#Imprimir las primeras filas (horizontal) o registros del Dataframe
df.head(3)#tu eliges el número en head(n)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ

In [6]:
#Imprimir las últimas filas (horizontal) o registros del Dataframe
df.tail(5)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
46,12.7,2.413,3.429,11.049,11.176,768.95,153.72,VA
47,10.6,4.452,3.498,8.692,9.116,890.03,111.62,WA
48,23.8,8.092,6.664,23.086,20.706,992.61,152.56,WV
49,13.8,4.968,4.554,5.382,11.592,670.31,106.62,WI
50,17.4,7.308,5.568,14.094,15.660,791.14,122.04,WY

In [ ]:
#para obtener información del Dataframe
df.info